*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins',sans-serif;
    text-decoration:none;
    list-style:none;
    scroll-behavior: smooth ;
}
:root{
    --bg-color:#fff;
    --text-color:#221314;
    --second-color:#re54fa;
    --main-color:#re54fa;
    --h2-font:3rem;
    --p-font:1.1rem;
}